<!doctype html>
<head><title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
{% include 'includes/_messages.html' %}
{% block body %}

{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

<div class="container">
<footer>
         {% if session.logged_in %}
                <div style="float: left">{{session.username}}</div>
                <div style="margin: 0 auto; width: 100px;"><a href="/logout">Logout</a></div>
                {% else %}
                {% endif %}
        <div style="float: right">IIT Bhilai</div>
</footer>
</div>

</body>