{% extends 'layout.html'%}

{% block body %}

<!-- Think backtrack -->
<div class="jumbotron" align="center">
    <p align="center">OWTTHINKEVIFOUTENOOFENINBOX</p>
    <div class="container">
        <form action="" method="post">
    <div class="form-group" align="center">
        <input style="width: 300px" type="password" name="password" placeholder="Password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{% endblock %}