{% extends 'layout.html'%}

{% block body %}
<br>
<br>
<br>
<div class="container">
<div class="jumbotron" align="center">
<h2 align="center">Password for last level</h2>
<form action="" method="post">
    <div class="form-group" align="center">
        <input style="width: 300px" type="password" name="password" placeholder="Password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% endblock %}