{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <p>-.-. .... .- -. --. . / . -..- - . -. ... .. --- -. / -.--. .-.. .. ... - . -. -.--.-</p>
        <p><a herf="ftp:\\10.3.62.116:21">pick me.</a></p>
        <h2 align="center">Password:</h2>
<form action="" method="post">
    <div class="form-group" align="center">
        <input style="width: 300px" type="password" name="password" placeholder="Password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>
<!-- Courtesy of samuel morse -->

{% endblock %}