{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">IIT Bhilai Online Judge</h1>
        <p>Welcome to the Online Judge made by the students of <b>IIT Bhilai</b>.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Leaderboard</h2>
          <p>Shows the relative rank of the students based on the previous submissions and the cumulative points earned so far in the contests. </p>
          <p><a class="btn btn-secondary" href="/lead" role="button">View leaderboard &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Assignments</h2>
            <p>knfponafnofawnawpfn fapwnfjpinafwponfaw[o pawfnpaownf</p>
          <p><a class="btn btn-secondary" href="/ass" role="button">View problems &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Forum</h2>
          <p>ksapfpanfkpnwf[naw[ akjd[fomwad[m fakf[okaw[fmpawmfowmf </p>
          <p><a class="btn btn-secondary" href="/forum" role="button">Visit forum &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div>

{% endblock %}